[submodule "agents/mini-swe-agent"]
	path = agents/mini-swe-agent
	url = https://github.com/doehyunbaek/mini-swe-agent
[submodule "agents/SWE-agent"]
	path = agents/SWE-agent
	url = https://github.com/doehyunbaek/SWE-agent.git
